<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (parentOrganization(); as parentOrganizationRef) {
      <div>
        <h2 data-cy="parentOrganizationDetailsHeading">
          <span jhiTranslate="organizationBackEndApp.parentOrganization.detail.title">Parent Organization</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="organizationBackEndApp.parentOrganization.id">Id</span></dt>
          <dd>
            <span>{{ parentOrganizationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="organizationBackEndApp.parentOrganization.name">Name</span></dt>
          <dd>
            <span>{{ parentOrganizationRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/parent-organization', parentOrganizationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
