<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (organisation(); as organisationRef) {
      <div>
        <h2 data-cy="organisationDetailsHeading"><span jhiTranslate="agentTypeApp.organisation.detail.title">Organisation</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="agentTypeApp.organisation.id">Id</span></dt>
          <dd>
            <span>{{ organisationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="agentTypeApp.organisation.name">Name</span></dt>
          <dd>
            <span>{{ organisationRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="agentTypeApp.organisation.agentType">Agent Type</span></dt>
          <dd>
            @if (organisation()!.agentType) {
              <div>
                <a [routerLink]="['/agent-type', organisation()!.agentType?.id, 'view']">{{ organisationRef.agentType?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/organisation', organisationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
