<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (facilityType(); as facilityTypeRef) {
      <div>
        <h2 data-cy="facilityTypeDetailsHeading"><span jhiTranslate="bplShipmentApp.facilityType.detail.title">Facility Type</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="bplShipmentApp.facilityType.id">Id</span></dt>
          <dd>
            <span>{{ facilityTypeRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="bplShipmentApp.facilityType.name">Name</span></dt>
          <dd>
            <span>{{ facilityTypeRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/facility-type', facilityTypeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
