<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (shipmentMethod(); as shipmentMethodRef) {
      <div>
        <h2 data-cy="shipmentMethodDetailsHeading">
          <span jhiTranslate="bplshipmentmethodApp.shipmentMethod.detail.title">Shipment Method</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="bplshipmentmethodApp.shipmentMethod.id">Id</span></dt>
          <dd>
            <span>{{ shipmentMethodRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="bplshipmentmethodApp.shipmentMethod.name">Name</span></dt>
          <dd>
            <span>{{ shipmentMethodRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="bplshipmentmethodApp.shipmentMethod.description">Description</span></dt>
          <dd>
            <span>{{ shipmentMethodRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="bplshipmentmethodApp.shipmentMethod.parentType">Parent Type</span></dt>
          <dd>
            @if (shipmentMethod()!.parentType) {
              <div>
                <a [routerLink]="['/facility-type', shipmentMethod()!.parentType?.id, 'view']">{{ shipmentMethodRef.parentType?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/shipment-method', shipmentMethodRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
