<div>
  <h2 id="page-heading" data-cy="WayBillHeading">
    <span jhiTranslate="invoicebackendApp.wayBill.home.title">Way Bills</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="invoicebackendApp.wayBill.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-way-bill"
        [routerLink]="['/way-bill/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="invoicebackendApp.wayBill.home.createLabel">Create a new Way Bill</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (wayBills().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="invoicebackendApp.wayBill.home.notFound">No Way Bills found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="boxLimit">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.boxLimit">Box Limit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="shipmentType">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.shipmentType">Shipment Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="opfac">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.opfac">Opfac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deliveryAgent">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.deliveryAgent">Delivery Agent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estimatedReadyDate">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.estimatedReadyDate">Estimated Ready Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currencyUom">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.currencyUom">Currency Uom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estimatedShipDate">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.estimatedShipDate">Estimated Ship Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="referenceNumber">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.referenceNumber">Reference Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currencyType.id">
              <div class="d-flex">
                <span jhiTranslate="invoicebackendApp.wayBill.currencyType">Currency Type</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (wayBill of wayBills(); track trackId(wayBill)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/way-bill', wayBill.id, 'view']">{{ wayBill.id }}</a>
              </td>
              <td>{{ wayBill.boxLimit }}</td>
              <td>{{ wayBill.shipmentType }}</td>
              <td>{{ wayBill.opfac }}</td>
              <td>{{ wayBill.deliveryAgent }}</td>
              <td>{{ wayBill.estimatedReadyDate | formatMediumDatetime }}</td>
              <td>{{ wayBill.currencyUom }}</td>
              <td>{{ wayBill.estimatedShipDate | formatMediumDatetime }}</td>
              <td>{{ wayBill.status }}</td>
              <td>{{ wayBill.referenceNumber }}</td>
              <td>
                @if (wayBill.currencyType) {
                  <div>
                    <a [routerLink]="['/currency-type', wayBill.currencyType.id, 'view']">{{ wayBill.currencyType.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/way-bill', wayBill.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/way-bill', wayBill.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(wayBill)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
